.navbar {
    background-color: rgb(90, 94, 99) !important;
    padding-top: 1.2rem !important;
    padding-bottom: 1.25rem !important;
}

.navbar-brand {
    color: rgb(80, 0, 0) !important;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: grey;
    color: goldenrod;
}

.carousel > .carousel-inner {
    height: 800px;
}

.imgwrap {
    object-fit: scale-down;
}