.icon-btn {
    width: 127px;
    height: 150px;
    background-color: transparent !important;
    background-repeat: no-repeat;
    overflow: hidden;
    border: black;
}

.KCR-logo {
    background: url('/static/images/royals_logo.jpg') no-repeat !important; 
    background-size: 127px 150px !important;  
}

.NYY-logo {
    background: url('/static/images/yankees_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.HOU-logo {
    background: url('/static/images/astros_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.STL-logo {
    background: url('/static/images/cardinals_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.NYM-logo {
    background: url('/static/images/mets_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.SFG-logo {
    background: url('/static/images/giants_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.CHW-logo {
    background: url('/static/images/wsox_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.TOR-logo {
    background: url('/static/images/bjays_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.SEA-logo {
    background: url('/static/images/mariners_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.CHC-logo {
    background: url('/static/images/cubs_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.FLA-logo {
    background: url('/static/images/marlins_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.ARI-logo {
    background: url('/static/images/dbacks_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.MIN-logo {
    background: url('/static/images/twins_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.BOS-logo {
    background: url('/static/images/rsox_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.TEX-logo {
    background: url('/static/images/rangers_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.PIT-logo {
    background: url('/static/images/pirates_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.ATL-logo {
    background: url('/static/images/braves_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.LAD-logo {
    background: url('/static/images/dodgers_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.CLE-logo {
    background: url('/static/images/indians_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.TBD-logo {
    background: url('/static/images/rays_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.ANA-logo {
    background: url('/static/images/angels_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.MIL-logo {
    background: url('/static/images/brewers_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.PHI-logo {
    background: url('/static/images/phillies_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.SDP-logo {
    background: url('/static/images/padres_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.DET-logo {
    background: url('/static/images/tigers_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.BAL-logo {
    background: url('/static/images/orioles_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.OAK-logo {
    background: url('/static/images/athletics_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.CIN-logo {
    background: url('/static/images/reds_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.WSN-logo {
    background: url('/static/images/nats_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}

.COL-logo {
    background: url('/static/images/rocks_logo.jpg') no-repeat !important;
    background-size: 127px 150px !important;
}