{% extends "base.html" %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="jumbotron">
        <h3 class="display-5 text-center font-weight-normal" style="width:auto; margin:auto;">
            Choose a team icon to see more! 
        </h3>
    </div>
</div>
    
<div class="container">
    {% for list in teamsList %}
    <div class="row">
        <div style="margin:auto;">
        {% for doc in list %}
                <button type="button" value="{{ doc['franchID'] }}" class="btn btn-light icon-btn {{doc['franchID']|safe}}-logo"></button>     
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    // Listen for any button clicks and redirect to appropriate url
    document.addEventListener('click', function(event) {
        // console.log( Flask.url_for("profile_team", {"teamid": event.target.value}) );
        window.location.href = Flask.url_for("profile_team", {"franchid": event.target.value});
    });
</script>

{% endblock %}